doctype html
head
  // Shaka Player compiled library:
  script(src='https://cdnjs.cloudflare.com/ajax/libs/shaka-player/2.5.9/shaka-player.compiled.js')
  // Your application source:
  script(src='/js/player.js')
video#video(width='640' poster='//images/W1CFB4.jpg' controls='' autoplay='') 